.box {


}
.green-box {
    height: 100px;
    background-color: #00bb00;

}

.blue-box {
    height: 200px;
    background-color: #0099ff;
}

.grey-box {
    height: 75px;
    background-color: #c9c9c9;
}

/*** Media Queries Below ***/

@media (min-width: 600px) {
    .green-box {
    }
    .blue-box {
    }
    .grey-box {
    }
}

@media (min-width: 900px) {
    .green-box {
    }
    .blue-box {
    }
    .grey-box {
        width: calc(100% / 4 - 10px);
        height: 200px;
    }
}
